@charset "UTF-8";

/* ----------
 * base
---------- */
:root {
  --color-orange: #ff7e00;
  --color-green: #1eb31b;
  --color-white: #fff;
  --color-black: #000;
  --color-chacoal: #383634;
  --color-lightgrey: #999;
}
body {
  margin: 0;
  padding: 0;
  color: var(--color-chacoal);
  font-family: "Noto Sans JP", sans-serif;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  line-height: 2;
}
p, h3, a, li, input, th, td, dt, dd {
  letter-spacing: 0.15em;
}
/* ----------
 * loading
---------- */
/*
#splash {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--color-white);
	text-align: center;
	color: var(--color-white);
}

#splash_text {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
*/
/* ----------
 * parts
---------- */
.heading {
  position: relative;
  display: block;
  width: max-content;
  margin: 30px auto 15px;
  padding-bottom: 12px;
  font-size: clamp(36px, 5.3vw + 16.125px, 64px);
  min-height: 0vw;
  font-family: "Raleway", sans-serif;
  letter-spacing: .23em;
}

.heading::before,
.heading::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--color-lightgrey);
}
.heading::before {
  bottom: 5px;
}
.relative {
  position: relative;
}
.inner-icon {
  margin-left: 0.2em;
}

.top-btn {
  display: none;
  position: fixed;
	bottom: 30px;
	right: 30px;
	display: block;
	width: 40px;
	height: 40px;
  background-color: rgba(0,0,0,0.5);
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
  font-size: 0;
	text-decoration: none;
}
.top-btn > i {
  display: inline-block;
  width: 100%;
	height: 100%;
  font-size: 16px;
  text-align: center;
  vertical-align: -25px;
}

/* ----------
 * mv
---------- */
.mv {
  width: 100%;
  height: 100vh;
  background-color: var(--color-chacoal);
  color: var(--color-white);
  text-align: center;
  z-index: -10;
}
.mv::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100vh;
  background-color: var(--color-chacoal);
}
.mv-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  transform: translateY(-50%) translateX(-50%);
}
.site-title-sub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
  font-size: clamp(28px, 2.27vw + 19.4px, 46px);
}
.site-title-sub::before,
.site-title-sub::after {
  content: '';
  display: inline-block;
  width: 140px;
  height: 2px;
  margin: 0 30px;
  background-color: var(--color-orange);
  vertical-align: middle;
}
@media (max-width: 768px) {
  .site-title-sub::before,
  .site-title-sub::after {
    display: block;
    min-width: clamp(180px, 141.832px + 10.17vw, 220px);
    margin: 0 auto;
  }
}
.site-title {
  width: 100%;
  margin: 50px 0 40px;
  padding: 0 0 0 clamp(48px, 26.8vw + -52.526px, 430px);
  font-family: "Raleway", sans-serif;
  font-style: italic;
  text-align: left;

}
.site-title > span {
  display: inline;
  font-size: clamp(56px, 9.1vw + 21px, 1166px);
}
.site-title > span:nth-of-type(2){
  margin-left: 0.5em;
}
.site-description {
  font-family: "Raleway", sans-serif;
  font-size: clamp(22px, 1.26vw + 17.259px, 32px);
}
.roll-animation.roll span {
  transition-property: opacity, transform;
  transform: rotateY(360deg);
  transition: all 0.8s cubic-bezier(.77, 0, .175, 1);
  transition-timing-function: cubic-bezier(.77, 0, .175, 1);
  display: inline-block;
}

/* ----------
 * hamburger
---------- */
.hamburger-btn {
	position: fixed;
  top: 32px;
  right: 32px;
	width: 32px;
	height: 32px;
	border-radius: 3px;
	cursor: pointer;
	z-index: 999;
}
.hamburger-btn-area {
	width: 100%;
	height: 100%;
	transition: all 0.6s;
}
.hamburger-btn-area.open {
	transform: rotate(360deg);
}
.hamburger-btn span {
	position: absolute;
	left: 0;
	right: 0;
	display: block;
	height: 3px;
  border: 1px solid var(--color-white);
	border-radius: 3px;
	background-color: var(--color-black);
	transition: all 0.6s;
}
.hamburger-btn span:nth-of-type(1) {
	top: 4px;
}
.hamburger-btn span:nth-of-type(2) {
	top: 15px;
}
.hamburger-btn span:nth-of-type(3) {
	top: 26px;
}
.hamburger-btn.open  span {
	background-color: var(--color-black);
	z-index: 130;
}
.hamburger-btn.open span:nth-of-type(1){
	top: 14px;
	transform-origin: center;
	transform: rotate(45deg);
}
.hamburger-btn.open span:nth-of-type(2){
	opacity: 0;
}
.hamburger-btn.open span:nth-of-type(3){
	top: 14px;
	transform-origin: center;
	transform: rotate(-45deg);
}
.mask {
	position: fixed;
	top: 0;
  right: 0;
  width: 200px;
  height: 200px;
  border-radius: 100% 0% 0% 100% / 0% 0% 100% 100%;
	background-color: rgba(0,0,0,0.3);
  color: var(--color-white);
  z-index: 500;
  transform-origin: right top;
  transform: rotate(-90deg);
}
.mask.open {
	display: revert;
  animation-name: slideIn;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: rotate(-90deg);
  }
  to {
    opacity: 1;
    transform: rotate(0);
  }
}
.mask.close {
  animation-name: slideOut;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;;
}
@keyframes slideOut {
  from {
    opacity: 1;
    transform: rotate(0);
  }
  to {
    opacity: 0;
    transform: rotate(-90deg);
  }
}
.mask-list {
  margin: 18px;
  padding: 5px;
}
.mask-list li {
  transform-origin: right;
  line-height: 0;
}
.mask-list li:nth-of-type(2) {
  transform: rotate(-18deg);
}
.mask-list li:nth-of-type(3) {
  transform: rotate(-36deg);
}
.mask-list li:nth-of-type(4) {
  transform: rotate(-54deg);
}
.mask-list li:nth-of-type(5) {
  transform: rotate(-72deg);
}
.mask-list li:nth-of-type(6) {
  transform: rotate(-90deg);
}
/* ----------
 * about
---------- */
#about {
  padding: 80px 4%;
  background-color: var(--color-white);
  color: var(--color-chacoal);
  overflow: hidden;
}
.about-wrapper {
  width: min(92%, 1160px);
  margin: 50px auto 0;
}
.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 900px;
  margin: 0 auto;
  padding: 25px 0;
  gap: 4.137%;
}

.profile-img {
  width: 330px;
  height: 330px;
  
  border-radius: 50%;
}
.profile .inner-icon {
  color: var(--color-green);
}
dd, dt {
  display: inline-block
}
dt {
  width: 60px;
  vertical-align: top;
}
dd {
  margin: 0 0 0 1em;
  line-height: 2; 
}

.about-icon {
  text-align: right;
}
.about-icon > a{
  display: inline-block;
  font-size: 0;
}
.about-icon  i{
  margin: 0 0.2em;
  padding: 8px;
  border-radius: 50%;
  border: 3px solid var(--color-green);
  color: var(--color-green);
  font-size: 32px;
  cursor: pointer;
}

.pawprint {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 128px;
  color: var(--color-green);
  opacity: 0.3;
  display: none;
}
@media (max-width: 900px) {
  .profile {
    display: block;
    max-width: 400px;
  }
  .profile-img {
    margin: 0 auto;
  }
  .detail {
    margin: 50px auto 0;
  }
  dt, dd {
    font-size: 14px;
    display: inline-block;
  }
}

/* ----------
 * works
 ---------- */
#works {
  padding: 80px 4%;
  background-color: var(--color-white);
  color: var(--color-black);
}
.works-wrapper {
  max-width: 900px;
  margin: 50px auto 0;
}

/* ----------
 * slider
 ---------- */
.slider{
  position: relative;
  max-width: 900%;
  height:auto;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.items{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: absolute;
  z-index: 1;
  gap: 30px;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transform: translateX(-30px);
}
.item{
  min-width: 100%;
  height: 100%;
  margin: 0;
}

.item > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttons{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button{
  width: 46px;
  height: 46px;
  border: none;
  background: transparent center no-repeat;
  font-size: 36px;
  color: var(--color-green);
  z-index: 15;
  cursor: pointer;
}
.button:hover {
  animation-name: beat;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}
@keyframes beat {
  0% {
    transform: scale(1.0);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.0);
    opacity: 0.5;
  }
}
.work-text {
  position: absolute;
  bottom: -50px;
  color: var(--color-white);
  z-index: 15;
}
/* ----------
 * service
 * ---------- */
#service {
  padding: 80px 4%;
  background-color: var(--color-chacoal);
  color: var(--color-white);
}
.service-wrapper {
  margin: 50px auto 0;
}
.service-inner {
  display: flex;
  flex-direction: row;
  gap: 10px 20px;
  width: 100%;
}
.service-item {
  flex: 1 1 0;
}
.service-title {
  text-align: center;
  font-size: clamp(24px, 2.2vw + 15.42px, 36px);
}
.service-icon {
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 0 auto 30px;
  color: var(--color-orange);
  font-size: 7rem;
  text-align: center;
}
.service-text {
  padding: 0 2em;
}
.service-list {
  padding: 0 2em;
}
.service-list > li > i {
  margin-right: 0.5em;
  color: var(--color-orange);
}
.service-list > li {
  display: inline-block;
  margin-right: 1.5em;
  padding: 0 0.5em;
  border-bottom: 1px solid var(--color-orange);
}
@media (max-width: 767px) {
  .service-inner {
    display: block;
  }
}
/* ----------
 * price
 * ---------- */
 #price {
  padding: 80px 4%;
  background-color: var(--color-chacoal);
  color: var(--color-white);
}
.price-wrapper {
  width: min(90%, 900px);
  margin: 0 auto;
}
table {
  width: 100%;
  margin-top: 50px;
  border-collapse: collapse;
}
thead {
  background-color: var(--color-orange);
}
th {
  width: 60%;
}
td {
  width: 40%;
}
th,td {
  padding: 8px 10px 8px 16px;
}
table, th, td {
  outline: 1px solid ; 
}
tbody th,
tbody td { 
  font-weight: 400;
  text-align: left;
}
.price-wrapper p:nth-of-type(1){
  margin-top: 1em;
  margin-bottom: 0;
}
.price-wrapper p:not(:nth-of-type(1)){
  margin: 0;
}
@media (max-width: 767px) {
  thead, tbody {
    font-size: 14px;
  }
}

/* ----------
 * concept
---------- */
#concept {
  padding: 80px 4%;
  background-color: var(--color-white);
  color: var(--color-black);
}
.concept-wrapper {
  width: min(92%, 1160px);
  margin: 50px auto 0;
}
.concept-wrapper .inner-icon {
  color: var(--color-green);
}
.section-title-sub {
  text-align: center;
}
.section-title-sub > .inner-icon:first-child {
  margin-left: 0;
  margin-right: 0.2em;
}
.concept-item {
  margin: 30px;
  line-height: 2;
}
/* ----------
 * contact
 * ---------- */
#contact {
  padding: 80px 4%;
  background-color: var(--color-chacoal);
  color: var(--color-white);
}
.contact-form {
  max-width: 900px;
  margin: 50px auto 0;
}
.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  outline: none;
  border: 1px solid var(--color-chacoal);
  border-radius: 0;
  color: var(--color-black);
  box-sizing: border-box;
}
.contact-form input[type="text"]:focus,
.contact-form textarea:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5) inset;
}
.contact-form textarea {
  height: 150px;
}
.contact-form input[type="submit"] {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  background-color: var(--color-orange);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: var(--color-white);
  cursor: pointer;
}
.contact-form input[type="submit"]:hover {
  filter: contrast(80%);
}

/* ----------
 * footer
 * ---------- */
.footer {
  padding: 1em 0;
  text-align: center; 
  background: var(--color-white);
  color: var(--color-black);
}

